-- ============================================================
-- FIX COMMISSIONS — round every Ambrose entry to nearest 50
-- Generated: 2026-07-20 17:05:17
-- ============================================================

-- f6e3d3c2-7ca0-423b-a642-51e2051065a5: NGN200.83 -> NGN200 (diff NGN-0.830000000000013)
UPDATE staff_sales SET approved_commission = 200 WHERE id = 'f6e3d3c2-7ca0-423b-a642-51e2051065a5';
-- 5156c84e-cd27-49d6-a5b9-e8590a8c0a53: NGN15.49 -> NGN0 (diff NGN-15.49)
UPDATE staff_sales SET approved_commission = 0 WHERE id = '5156c84e-cd27-49d6-a5b9-e8590a8c0a53';
-- c898340e-2e12-49e4-9f9d-4e2d63bb1caf: NGN6361.79 -> NGN6350 (diff NGN-11.79)
UPDATE staff_sales SET approved_commission = 6350 WHERE id = 'c898340e-2e12-49e4-9f9d-4e2d63bb1caf';
-- 7ccbb79b-189a-4b91-8b23-fb6c3f7761f5: NGN1285.21 -> NGN1300 (diff NGN14.79)
UPDATE staff_sales SET approved_commission = 1300 WHERE id = '7ccbb79b-189a-4b91-8b23-fb6c3f7761f5';
-- cd5c72e9-64f1-44bf-8e58-1a69a2bd64af: NGN126.14 -> NGN150 (diff NGN23.86)
UPDATE staff_sales SET approved_commission = 150 WHERE id = 'cd5c72e9-64f1-44bf-8e58-1a69a2bd64af';
-- dff17373-fb06-4d21-8f88-d53094f05152: NGN13331.32 -> NGN13350 (diff NGN18.6800000000003)
UPDATE staff_sales SET approved_commission = 13350 WHERE id = 'dff17373-fb06-4d21-8f88-d53094f05152';
-- bbdb9781-d7a8-4c83-b208-7d4f82d0ff65: NGN266.62 -> NGN250 (diff NGN-16.62)
UPDATE staff_sales SET approved_commission = 250 WHERE id = 'bbdb9781-d7a8-4c83-b208-7d4f82d0ff65';
-- e9c999f5-15d5-469d-8873-428027e0f80e: NGN2666.25 -> NGN2650 (diff NGN-16.25)
UPDATE staff_sales SET approved_commission = 2650 WHERE id = 'e9c999f5-15d5-469d-8873-428027e0f80e';
-- 872cc596-a33a-4b98-8b4a-fa9d8a32d06b: NGN1863.56 -> NGN1850 (diff NGN-13.5599999999999)
UPDATE staff_sales SET approved_commission = 1850 WHERE id = '872cc596-a33a-4b98-8b4a-fa9d8a32d06b';
-- c688832c-2cd4-4e5d-9927-4846f28e309d: NGN8.33 -> NGN0 (diff NGN-8.33)
UPDATE staff_sales SET approved_commission = 0 WHERE id = 'c688832c-2cd4-4e5d-9927-4846f28e309d';
-- 932827c9-c28f-4e3e-8987-2e9c4efb2a06: NGN3999.4 -> NGN4000 (diff NGN0.599999999999909)
UPDATE staff_sales SET approved_commission = 4000 WHERE id = '932827c9-c28f-4e3e-8987-2e9c4efb2a06';
-- 2aecf31d-1a19-4613-a7cc-834bb0b6757f: NGN46.48 -> NGN50 (diff NGN3.52)
UPDATE staff_sales SET approved_commission = 50 WHERE id = '2aecf31d-1a19-4613-a7cc-834bb0b6757f';
-- ae3bc1d7-a97f-4765-a2a4-6a2a5a8e9ef3: NGN15.49 -> NGN0 (diff NGN-15.49)
UPDATE staff_sales SET approved_commission = 0 WHERE id = 'ae3bc1d7-a97f-4765-a2a4-6a2a5a8e9ef3';
-- 543ba287-62d7-401b-8638-642251d28b66: NGN13227.15 -> NGN13250 (diff NGN22.8500000000004)
UPDATE staff_sales SET approved_commission = 13250 WHERE id = '543ba287-62d7-401b-8638-642251d28b66';
-- 34d3004b-508f-4841-9f6d-b97aa62ad44e: NGN15.49 -> NGN0 (diff NGN-15.49)
UPDATE staff_sales SET approved_commission = 0 WHERE id = '34d3004b-508f-4841-9f6d-b97aa62ad44e';
-- 18aa651b-afde-41c4-9681-7a8a845c52a3: NGN2645.42 -> NGN2650 (diff NGN4.57999999999993)
UPDATE staff_sales SET approved_commission = 2650 WHERE id = '18aa651b-afde-41c4-9681-7a8a845c52a3';
-- 1f4700f2-7f47-4ee0-ac83-39c73c7856bf: NGN15.49 -> NGN0 (diff NGN-15.49)
UPDATE staff_sales SET approved_commission = 0 WHERE id = '1f4700f2-7f47-4ee0-ac83-39c73c7856bf';
-- 2539ba03-aff9-4f33-b985-093bd5976e71: NGN10.88 -> NGN0 (diff NGN-10.88)
UPDATE staff_sales SET approved_commission = 0 WHERE id = '2539ba03-aff9-4f33-b985-093bd5976e71';
-- 63257a45-35bb-4132-b50c-ed24d294ea51: NGN16401.64 -> NGN16400 (diff NGN-1.63999999999942)
UPDATE staff_sales SET approved_commission = 16400 WHERE id = '63257a45-35bb-4132-b50c-ed24d294ea51';
-- dcee2cf0-463a-4f0e-b168-fdde8efeeefe: NGN343.85 -> NGN350 (diff NGN6.14999999999998)
UPDATE staff_sales SET approved_commission = 350 WHERE id = 'dcee2cf0-463a-4f0e-b168-fdde8efeeefe';
-- cd3a903a-d027-44fb-9b88-9134a8591388: NGN1622.73 -> NGN1600 (diff NGN-22.73)
UPDATE staff_sales SET approved_commission = 1600 WHERE id = 'cd3a903a-d027-44fb-9b88-9134a8591388';
-- 498fffb6-8e7a-40fb-ab8a-c62947830e6b: NGN3910.46 -> NGN3900 (diff NGN-10.46)
UPDATE staff_sales SET approved_commission = 3900 WHERE id = '498fffb6-8e7a-40fb-ab8a-c62947830e6b';
-- ff37ae66-ee83-4d23-8bc7-a8fb942f487b: NGN15.49 -> NGN0 (diff NGN-15.49)
UPDATE staff_sales SET approved_commission = 0 WHERE id = 'ff37ae66-ee83-4d23-8bc7-a8fb942f487b';
-- 8d88b57a-0daa-4ff4-91b9-6f4b6d5cc41e: NGN969.7 -> NGN950 (diff NGN-19.7)
UPDATE staff_sales SET approved_commission = 950 WHERE id = '8d88b57a-0daa-4ff4-91b9-6f4b6d5cc41e';
-- c1811a4b-84c1-459d-8d02-2322dd87e69c: NGN15.49 -> NGN0 (diff NGN-15.49)
UPDATE staff_sales SET approved_commission = 0 WHERE id = 'c1811a4b-84c1-459d-8d02-2322dd87e69c';
-- c6641a2c-04b6-486c-aea3-24db17bbde32: NGN12289.65 -> NGN12300 (diff NGN10.3500000000004)
UPDATE staff_sales SET approved_commission = 12300 WHERE id = 'c6641a2c-04b6-486c-aea3-24db17bbde32';
-- 1b442fb0-d189-40f3-82fb-19426d027f6f: NGN8979.12 -> NGN9000 (diff NGN20.8799999999992)
UPDATE staff_sales SET approved_commission = 9000 WHERE id = '1b442fb0-d189-40f3-82fb-19426d027f6f';
-- b4b0c62f-a03a-49c8-850e-ddc93b931ea3: NGN10323.3 -> NGN10300 (diff NGN-23.2999999999993)
UPDATE staff_sales SET approved_commission = 10300 WHERE id = 'b4b0c62f-a03a-49c8-850e-ddc93b931ea3';
-- 981cc7bb-98d4-4b8b-b02d-2c47ef4c006c: NGN14573.95 -> NGN14550 (diff NGN-23.9500000000007)
UPDATE staff_sales SET approved_commission = 14550 WHERE id = '981cc7bb-98d4-4b8b-b02d-2c47ef4c006c';
-- f22ea3ac-8cdc-4bda-b414-d308d21f207f: NGN154.94 -> NGN150 (diff NGN-4.94)
UPDATE staff_sales SET approved_commission = 150 WHERE id = 'f22ea3ac-8cdc-4bda-b414-d308d21f207f';
-- 5d3feb28-3cb0-4286-9ea8-19f0ef97fd56: NGN77.47 -> NGN100 (diff NGN22.53)
UPDATE staff_sales SET approved_commission = 100 WHERE id = '5d3feb28-3cb0-4286-9ea8-19f0ef97fd56';

-- SUMMARY
-- Updated: 31 entries
-- Old total: NGN 964029.13
-- New total: NGN 963900
-- Diff: NGN -129.13
