-- ============================================================
-- REVERT SPLIT: Restore original items_paid_for
-- Generated: 2026-07-20 16:27:54
-- Run in Supabase SQL Editor.
-- ============================================================

-- Revert 8799111a
UPDATE staff_payments SET items_paid_for = '[{"amount":269700,"item_id":"326c4b63-1b0e-47f6-afb7-cf632929d8ee","quantity":31,"sale_ids":["67d79df6-54f1-4a52-bdf6-7248776ff23b","61d628b6-a741-4407-aa25-c7a4cfd35945"],"item_name":"LEB CARRY PACK S2"}]'::jsonb WHERE id = '8799111a-2592-4f78-8c8f-e1770743ab2e';

-- Revert 861b317c
UPDATE staff_payments SET items_paid_for = '[{"amount":547600,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":66,"sale_ids":["69772f92-0fa4-41d3-ae8f-c1b5466968e0","f0cb49b5-463e-4862-8d14-7359a7083f54"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":153900,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":19,"sale_ids":["7a729d7c-c58f-4f0a-80cd-75aee3d64dc9","78a48b60-6a41-4b49-93fd-73c61f344ec0"],"item_name":"BESENSE POCKET PACK 3"},{"amount":44800,"item_id":"f15d2969-36e6-4d39-b04d-f0a63d2723d7","quantity":4,"sale_ids":["cf2aa815-c4b6-43b3-a5e3-af01ae0d43b1"],"item_name":"AFRICAN TRADITIONAL BY 8+2LINER"}]'::jsonb WHERE id = '861b317c-c82d-4fde-9d4d-3d54de8907d0';

-- Revert 49f1e47f
UPDATE staff_payments SET items_paid_for = '[{"amount":80100,"item_id":"6d92de69-028f-43aa-b199-5a6b71f3b764","quantity":3,"sale_ids":["81082f58-4f17-454d-9524-1c35ff96185e","493800a0-8301-4d8b-946b-3fd13eccbcd3","c290b9e2-d332-413b-a2dc-8054052ba7c4"],"item_name":"LEB JUMBO PACK S2"},{"amount":22800,"item_id":"43386967-2c4c-4a0b-bcaa-404f5b93bc2a","quantity":2,"sale_ids":["a19ca19a-af35-4fa6-bc24-a4b591713fa5","6452074b-7dbd-43bf-b413-53d5632b6d67"],"item_name":"BESENSE BY 10"},{"amount":229200,"item_id":"c237c195-dc49-4593-a6f3-9092e8202ac5","quantity":12,"sale_ids":["796c83be-0281-4ee4-8302-96b1b3220ea3","e067a35e-3b09-462f-9313-57b5d45c9df7","467d6b87-43c4-40bd-8689-e830eda9c3af"],"item_name":"LEB ECO PACK S3"},{"amount":78300,"item_id":"0a0c0c07-078a-4a8f-857e-143ea460af90","quantity":9,"sale_ids":["04a410ca-bba0-4079-8f6c-be669e28d3d9","7f06fa1f-f7ac-4093-a9a5-f823b3c9de32","11f03755-d73c-4a58-9ce6-456e42354820","33c20858-c363-4518-b68f-6f41b4a7f1b9","843f7207-e110-417c-aeb3-23fc95bc28c7"],"item_name":"LEB CARRY PACK S4"}]'::jsonb WHERE id = '49f1e47f-1711-45b5-b35f-be7183f88d59';

-- Revert 68b0bbea
UPDATE staff_payments SET items_paid_for = '[{"amount":909100,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":111,"sale_ids":["aa935e1d-5a23-464a-9b44-a59760e764d0","3fc1fc31-86d7-4a19-9d66-050e618f5e95"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":828100,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":101,"sale_ids":["d5033cc8-e476-4dfb-9048-61f83c0b72f4","4e739484-9141-432d-8526-c260d5bc1a5b"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":438500,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":25,"sale_ids":["b203083e-059a-45b0-9a94-0ac04c654737","1c95999d-95ea-412a-a3eb-aa2bbfff9c14"],"item_name":"JUSTFIT ECO PACK S2"},{"amount":556000,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":32,"sale_ids":["e8a1dc55-5217-42f9-b4db-b057e6876273","ff2dbfe0-3537-435f-b8f1-658ce4503f95"],"item_name":"JUSTFIT ECO PACK S3"},{"amount":30200,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":2,"sale_ids":["2eb12e95-0455-419b-acba-078c950a7edf"],"item_name":"BESENSE WIPES BY 128PCS"},{"amount":249000,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":30,"sale_ids":["2c2eb3fe-3659-4a5f-adc9-2411e49dd059"],"item_name":"JUSTFIT CARRY PACK S4"}]'::jsonb WHERE id = '68b0bbea-5815-4a88-9051-f4cf84cd9605';

-- Revert 4c6f926e
UPDATE staff_payments SET items_paid_for = '[{"amount":249600,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":26,"sale_ids":["95011391-ec3e-4bba-92e5-f2084729db3a","e0cdd65e-2a4b-45c1-aac4-3adc620a4ac0","0d6ba639-708d-44e0-b1fd-55919ef113bf","dc168e7c-066a-44e9-9276-bd408d8d3c29","996ebb00-bbb4-48f6-b03c-c8bfccf641f6","cc0d4c77-8fbb-42aa-8778-e9c728cf24c2","5a181adc-d546-4e13-b2cb-93e5816160d8"],"item_name":"JUSTFIT N10 (GREEN)"},{"amount":597600,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":72,"sale_ids":["edb83266-8ad2-4f2c-b276-d24d2c5be1b8","ce7cfbf6-1209-4382-938d-53a217de14b4","26225f3b-12a6-42d5-9ecc-a4d09e49be50","33468029-6e51-43a3-a894-0f3efa2b4749","aa163eb4-6c46-4a15-b41a-0c00d09a5963","3a15e55f-5f20-4d36-ae3a-c65d16b42f87","b1fc37db-b680-4a46-bb0f-ba7c66ed4a61","849b22f3-61ca-4ea3-9146-f73c8fcc4576","27f6fa75-4e1b-4139-b057-fa25a56e2e5c","271d5201-f14d-4cc4-bdca-728d7c35591e","f232ef3c-5b9d-468e-97c4-9e7d4438325a"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":373500,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":45,"sale_ids":["9783d18a-6dcc-4322-89dc-2a96c5829121","455fc963-e69b-409f-aea9-05861fbec178","f88d89eb-2e30-48fc-b02a-38c94567ead5","dc247f10-333c-4c71-b4d8-9dbe67c774df","34123350-2547-4fe5-b90e-0083d7f613a2","bf4ec584-95c9-4a16-a159-46368b6f14c7","bd6f283d-46d9-43e7-95bf-7d21044d9e34"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":176000,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":10,"sale_ids":["b0183c6b-719a-4d1a-9900-7c8c069dea7f","16ba3c0c-f442-4869-be06-da9f65ebb209","f08cffd8-50e8-4d71-b5ae-7fb30044369d","60136748-f996-4c9e-b95f-a2ca4f037735","cc0e8100-4a7f-41ff-a0c4-6cfcc196cfac"],"item_name":"JUSTFIT ECO PACK S3"},{"amount":24300,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":3,"sale_ids":["143cc50b-69ce-422a-969f-69fbf0c738f9","b9e93712-ac73-4f73-97f6-5c5c833fb182","10b1eddb-8367-4e7f-92ac-ba4dfc02f0fb"],"item_name":"BESENSE POCKET PACK 3"},{"amount":74000,"item_id":"cc56f79b-7fa0-4a30-850b-dc33824be4b9","quantity":2,"sale_ids":["4e167053-049e-48b2-9fc3-f78fda6dd641"],"item_name":"JUSTFIT ZIP PAD BY 30 PCS"}]'::jsonb WHERE id = '4c6f926e-9f15-4d0e-9cb2-880c0fe8ca22';

-- Revert 1bb6faa3
UPDATE staff_payments SET items_paid_for = '[{"amount":234600,"item_id":"d4bbe112-1a11-446e-ac58-e59986cd9a26","quantity":3,"sale_ids":["baced3b0-bbf9-491f-91e3-4a481df06ebc","e12dbe22-aca2-4114-8773-897f23574277"],"item_name":"ADULT M/L/XL"},{"amount":49800,"item_id":"1bd30084-f1d1-4309-b682-19e609ab0935","quantity":2,"sale_ids":["575ba230-6bfd-4c55-a53c-c1c9cf206c89"],"item_name":"JUSTFIT JUMBO PACK S2"},{"amount":30000,"item_id":"97ef068b-cb95-43ad-866c-b28a2b1d2db4","quantity":2,"sale_ids":["dd766c30-8d34-4ea1-88a1-1ad1e12a375b"],"item_name":"BESENSE WIPES BY 60PCS"}]'::jsonb WHERE id = '1bb6faa3-dc1f-4856-a745-5869b6388891';

-- Revert 3beafbdd
UPDATE staff_payments SET items_paid_for = '[{"amount":518400,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":54,"sale_ids":["5b9330f3-8330-4c38-aaba-78f401e7abeb","f6cb93f6-f367-4951-a9a8-575a9a3c13d7"],"item_name":"JUSTFIT N10 (GREEN)"},{"amount":1660000,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":200,"sale_ids":["c86b4125-cb31-4f73-8e0e-c6deba3a610e"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":1477400,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":178,"sale_ids":["f59cfc7c-10f2-40af-b9dd-27a9d2e2ac07","aa0a8b0f-2739-4433-99d5-60bb6700908e"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":1112200,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":134,"sale_ids":["87a9e59f-3074-4336-a9de-664fbc173002","e0a1502c-4dee-461d-b248-f148c1a95d92","08a6251c-5a98-4285-9642-448e15ba9018","bfd8f9ab-bd35-4041-9c3d-d2f93f4753fc","7150fddd-6b37-4b7c-a82b-0ba889e8485b","74613846-b250-46fb-87f5-17d7945afa89","581b9f84-d41c-4c4a-8ed1-16416ff9cd82","aede5c10-4c92-4504-aed6-7a80113efde3","18c30be3-adab-4f6e-b458-0977dc5ccfb2","d35eaab4-f489-43a9-93c3-198472aa1af1","e949e209-fa6d-4291-87d1-a76150f8b308"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":316800,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":18,"sale_ids":["74f01004-7b2b-4d4e-9302-32b111ae1be8","a01b447f-61a5-4b25-b488-e03ef012a4e7","1c4cbc3b-7517-4f65-aa60-ada380b113dc"],"item_name":"JUSTFIT ECO PACK S2"}]'::jsonb WHERE id = '3beafbdd-6dac-4f80-b6ee-2616f86adda9';

-- Revert 6cbd3392
UPDATE staff_payments SET items_paid_for = '[{"amount":171800,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":18,"sale_ids":["00a779fd-fc48-4861-a04c-5963eee4ba15","5e0cfdae-343e-4dca-a3c8-b2f8bd9715b1"],"item_name":"JUSTFIT N10 (GREEN)"}]'::jsonb WHERE id = '6cbd3392-8b97-4c5c-aeec-f39824e7df79';

-- Revert 0c8bc66d
UPDATE staff_payments SET items_paid_for = '[{"amount":15200,"item_id":"64935662-9868-4ee0-ad92-72f1ba437393","quantity":1,"sale_ids":["44a69031-e016-4016-8d3f-f0ceeaf3c656"],"item_name":"BESENSE ECO MIX BY 14PCS"},{"amount":30200,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":2,"sale_ids":["73fe4eb9-bbc3-4ea0-9a36-40512c91d978","c58f5ede-de61-4bbe-a09e-d7dd50281f5c"],"item_name":"BESENSE WIPES BY 128PCS"},{"amount":30000,"item_id":"97ef068b-cb95-43ad-866c-b28a2b1d2db4","quantity":2,"sale_ids":["f4c16b20-b780-49bc-b250-2a7840786ac1","be3b13e1-d4f2-4353-ace2-f584ee9e3400"],"item_name":"BESENSE WIPES BY 60PCS"}]'::jsonb WHERE id = '0c8bc66d-79ec-41ab-99a6-91da37808fc5';

-- Revert 9623d7f7
UPDATE staff_payments SET items_paid_for = '[{"amount":1414500,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":173,"sale_ids":["f08894fe-ea06-4344-a790-b6f839c8f842","8ec7440a-7450-493b-a258-0b319a96efd2"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":535700,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":65,"sale_ids":["5df18717-917c-4b2d-b5ad-16a2c70cf835","0aaa1d41-5e52-4e94-8005-71a9895c4eb9"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":15200,"item_id":"64935662-9868-4ee0-ad92-72f1ba437393","quantity":1,"sale_ids":["19aa3ef5-6141-4ac9-9d23-8eff65f6c261"],"item_name":"BESENSE ECO MIX BY 14PCS"},{"amount":15100,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":1,"sale_ids":["6f86d0de-2086-4a97-b0c0-f7d15c543a98"],"item_name":"BESENSE WIPES BY 128PCS"},{"amount":22500,"item_id":"97ef068b-cb95-43ad-866c-b28a2b1d2db4","quantity":1.5,"sale_ids":["27838ad4-bb48-4e60-950d-f15ae99aa734"],"item_name":"BESENSE WIPES BY 60PCS"},{"amount":176000,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":10,"sale_ids":["05acb27c-5538-43e5-96d8-2d7be6809283"],"item_name":"JUSTFIT ECO PACK S3"},{"amount":116000,"item_id":"43386967-2c4c-4a0b-bcaa-404f5b93bc2a","quantity":10,"sale_ids":["2c79a30f-7cac-43ac-b09f-9a226664b465"],"item_name":"BESENSE BY 10"},{"amount":56400,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":2,"sale_ids":["111f51ee-592f-4a02-9694-49940dc096b5"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"},{"amount":105600,"item_id":"e27c5b62-79b7-4513-b207-77b32dae41c7","quantity":6,"sale_ids":["bc706766-8ffd-44ef-8adf-0df9d8fe8482"],"item_name":"JUSTFIT ECO PACK S4"},{"amount":160400,"item_id":"40d76063-5af1-4c57-ab0b-99fe2077a0c0","quantity":4,"sale_ids":["2de16e08-c390-433c-84d6-6a04a2e7bb3f"],"item_name":"ZIP PACK AFRICAN TRADITIONAL BY 30 PCS"}]'::jsonb WHERE id = '9623d7f7-b1b7-43b6-8f65-cf9b691d0654';

-- Revert 123207a5
UPDATE staff_payments SET items_paid_for = '[{"amount":169200,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":18,"sale_ids":["4d366500-b2d8-4fdc-94e2-5d7e8e5e6e84","2fbea3e2-b638-41aa-a484-24e6430d6646"],"item_name":"JUSTFIT N10 (GREEN)"}]'::jsonb WHERE id = '123207a5-04d6-41ae-a6c4-542e878f9199';

-- Revert df0d4fc6
UPDATE staff_payments SET items_paid_for = '[{"amount":1133000,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":138,"sale_ids":["2f9d4950-7555-473c-9c61-5e5d7c93b0e8","48eccccd-c99a-4192-bb92-b726dc699a0d"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":414400,"item_id":"f15d2969-36e6-4d39-b04d-f0a63d2723d7","quantity":37,"sale_ids":["6616d399-ba6e-4e25-b0eb-814bfec07f10"],"item_name":"AFRICAN TRADITIONAL BY 8+2LINER"},{"amount":193600,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":11,"sale_ids":["0a27b11d-b22c-4e0a-8367-9b969de40454"],"item_name":"JUSTFIT ECO PACK S2"},{"amount":48600,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":6,"sale_ids":["df8b8549-84bb-42a4-a175-8dcdf202156a"],"item_name":"BESENSE POCKET PACK 3"}]'::jsonb WHERE id = 'df0d4fc6-4291-4294-b154-b714d4db6bc9';

-- Revert 212adcf4
UPDATE staff_payments SET items_paid_for = '[{"amount":14900,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":1,"sale_ids":["013b728a-e020-4ca6-aeaf-7ff9c6a1ae89"],"item_name":"BESENSE WIPES BY 128PCS"},{"amount":28500,"item_id":"d0cbce50-194d-4e49-bc03-c0adce262a15","quantity":1,"sale_ids":["2a6bf68d-60f6-4b69-a335-4fde4478626c"],"item_name":"WIPES BY 120PCS"},{"amount":13500,"item_id":"1ebe4ee1-ce16-4047-9166-da281b78d043","quantity":1,"sale_ids":["5854f134-3429-4b7f-806b-b5a17de08c43"],"item_name":"WIPES BY 50PCS"},{"amount":185700,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":23,"sale_ids":["d5fc9d33-0df5-4e17-ba60-fe68a0d83ea7","593e04ac-8c61-4515-976c-ef54b9d66efb"],"item_name":"BESENSE POCKET PACK 3"}]'::jsonb WHERE id = '212adcf4-cc84-4376-9291-966ca5861f01';

-- Revert 1d983831
UPDATE staff_payments SET items_paid_for = '[{"amount":39500,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":5,"sale_ids":["0f4ae594-5329-4a21-9583-54d5c91a0c09","151c2377-3d0e-4559-9654-5e321f519041"],"item_name":"BESENSE POCKET PACK 3"},{"amount":49200,"item_id":"1bd30084-f1d1-4309-b682-19e609ab0935","quantity":2,"sale_ids":["52dace2f-865d-4c04-9efb-21ae8087a0ee"],"item_name":"JUSTFIT JUMBO PACK S2"},{"amount":43500,"item_id":"326c4b63-1b0e-47f6-afb7-cf632929d8ee","quantity":5,"sale_ids":["3a20a9f1-481b-4937-af83-ce742d2432fa"],"item_name":"LEB CARRY PACK S2"},{"amount":52200,"item_id":"8a899a2a-ae6f-46f8-b98c-765f15665770","quantity":6,"sale_ids":["829169fd-9e15-486f-be51-c6629447e237"],"item_name":"LEB CARRY PACK S3"},{"amount":176000,"item_id":"f15d2969-36e6-4d39-b04d-f0a63d2723d7","quantity":16,"sale_ids":["120ec31c-1162-404e-94c7-ee4d7bbd5018"],"item_name":"AFRICAN TRADITIONAL BY 8+2LINER"},{"amount":49200,"item_id":"dc19077d-33ae-4cee-b4c0-3d387285a7aa","quantity":2,"sale_ids":["d99adb28-6c58-4356-9481-969a23086f80"],"item_name":"JUSTFIT JUMBO PACK S3"},{"amount":28200,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":1,"sale_ids":["8df032e7-8800-48b1-959f-cb5c6cca3b0b"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"},{"amount":15000,"item_id":"64935662-9868-4ee0-ad92-72f1ba437393","quantity":1,"sale_ids":["4ae5aa98-18e2-4414-a44e-c48efcc43e24"],"item_name":"BESENSE ECO MIX BY 14PCS"},{"amount":14900,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":1,"sale_ids":["1056f80a-102c-47a6-9741-e1d21bfc08a2"],"item_name":"BESENSE WIPES BY 128PCS"}]'::jsonb WHERE id = '1d983831-bd98-4184-8a6d-11d13f89c2e3';

-- Revert 0b93c45e
UPDATE staff_payments SET items_paid_for = '[{"amount":319600,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":34,"sale_ids":["3e74d8ac-6453-48ee-a0b4-a63b26574ffe","bc624210-6177-437e-a2de-85ed55652da7"],"item_name":"JUSTFIT N10 (GREEN)"}]'::jsonb WHERE id = '0b93c45e-63c3-46c6-a368-95d8af57d67e';

-- Revert 812fe440
UPDATE staff_payments SET items_paid_for = '[{"amount":123200,"item_id":"e27c5b62-79b7-4513-b207-77b32dae41c7","quantity":7,"sale_ids":["ba4e7a89-6c42-4403-a870-01d3c7eff0cd","0f8f3a1e-b936-4a9b-8914-cb2022b3612c","63cd4c38-b880-4368-920c-c692bd350fa7","ab9c0334-5f73-4db8-bfa3-6749a54f4a84"],"item_name":"JUSTFIT ECO PACK S4"}]'::jsonb WHERE id = '812fe440-146c-4b14-afea-9171fd2ea0c8';

-- Revert ccee943c
UPDATE staff_payments SET items_paid_for = '[{"amount":40500,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":1.5,"sale_ids":["4a690638-0045-433d-bfcd-72d8a8b83072","81a4ff4f-f2c8-45b4-b548-1fd73694ff60"],"item_name":"DELE MATERNITY PAD"}]'::jsonb WHERE id = 'ccee943c-505a-46db-9aea-67c6e117f8d7';

-- Revert e56eac2d
UPDATE staff_payments SET items_paid_for = '[{"amount":153900,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":19,"sale_ids":["a0b7bbf5-feaf-47d4-90a2-bcc6ba6cded6","e4189572-0d6e-4e05-990f-07016e64c536"],"item_name":"BESENSE POCKET PACK 3"},{"amount":401000,"item_id":"bb01e884-743f-47ac-b59a-29fb55328c2f","quantity":10,"sale_ids":["c72d2f50-9912-4b34-93b9-4155bbb7e674"],"item_name":"BESENSE BLUE MEGA MIX 30 PCS ZIP PAD"}]'::jsonb WHERE id = 'e56eac2d-6c3e-4ca4-9075-4523587d0ac6';

-- Revert 2065c0ff
UPDATE staff_payments SET items_paid_for = '[{"amount":710400,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":74,"sale_ids":["a297e54c-011f-4ed1-82be-986de8d52ba6","dbd756d3-422e-48bd-84ab-4e017ddb3d23","2fea95b6-1cea-4554-8536-6209f8b86da5","c1834854-6e6f-4c9e-815c-9f2f7609270b"],"item_name":"JUSTFIT N10 (GREEN)"},{"amount":281600,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":16,"sale_ids":["940e675c-b72c-4d2a-867b-a102d7ab1d13","a9c5744b-e742-4a90-a094-be1e4180d7d0"],"item_name":"JUSTFIT ECO PACK S2"}]'::jsonb WHERE id = '2065c0ff-aea4-467c-8c1a-42c38d9dc10f';

-- Revert adb7c88a
UPDATE staff_payments SET items_paid_for = '[{"amount":71250,"item_id":"d0cbce50-194d-4e49-bc03-c0adce262a15","quantity":2.5,"sale_ids":["1e13c616-1e54-4e21-8ee2-bf40de7e3367","2d10480b-f19c-4bc5-9db5-6a2f22d10ea4"],"item_name":"WIPES BY 120PCS"},{"amount":47250,"item_id":"1ebe4ee1-ce16-4047-9166-da281b78d043","quantity":3.5,"sale_ids":["d5e89aa2-4a66-4bf2-b1e5-c5b2cf81f81a","960486c4-9a27-4c7f-8db8-4922ee271e95","05fa0322-40e5-4762-a70e-99368c80e7d3","07c71022-ef73-4a16-bf8d-3864952d32f9"],"item_name":"WIPES BY 50PCS"},{"amount":34600,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":2,"sale_ids":["1402a60b-ce1c-4b17-a25f-f1f1cbdfd428"],"item_name":"JUSTFIT ECO PACK S3"},{"amount":74000,"item_id":"cc56f79b-7fa0-4a30-850b-dc33824be4b9","quantity":2,"sale_ids":["6f43af93-5d60-4668-8a93-f489171fa727"],"item_name":"JUSTFIT ZIP PAD BY 30 PCS"},{"amount":234600,"item_id":"d4bbe112-1a11-446e-ac58-e59986cd9a26","quantity":3,"sale_ids":["0d665261-bbdf-45e6-9fee-abdcd5402cd6"],"item_name":"ADULT M/L/XL"},{"amount":98700,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":3.5,"sale_ids":["05732d78-1cc9-443b-95c6-a509bcd5cf8d","62f82dc1-204e-4ccd-b126-66e09cf6de30"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"},{"amount":34600,"item_id":"e27c5b62-79b7-4513-b207-77b32dae41c7","quantity":2,"sale_ids":["6dec98df-31df-4e00-adb9-564f62018395","a6cf595e-34fa-44b3-aed3-5a4aa1858514"],"item_name":"JUSTFIT ECO PACK S4"},{"amount":37250,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":2.5,"sale_ids":["f950fc41-2227-4493-be71-457da686e0a6","4af5f082-cb54-48a0-b9c3-c11baf7bd4fc"],"item_name":"BESENSE WIPES BY 128PCS"},{"amount":55000,"item_id":"f15d2969-36e6-4d39-b04d-f0a63d2723d7","quantity":5,"sale_ids":["6085fde7-db18-4379-8353-63ee91d76d9b","50051ef3-c309-4a3f-91f8-0375d617e756","54af2817-04a3-4d6c-a52e-16b0e8559797","5206b683-63aa-4b98-8cd6-07908c6980a2"],"item_name":"AFRICAN TRADITIONAL BY 8+2LINER"},{"amount":229500,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":8.5,"sale_ids":["cfa96de8-67df-408d-9fa3-006da650765f","d2e6bda2-ac16-49cd-bbd3-5cd4f9fafbdb","7c5ae83b-90f0-4c16-9791-c13f08799477"],"item_name":"DELE MATERNITY PAD"},{"amount":15800,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":2,"sale_ids":["deab1ceb-5345-428d-ae4c-6beec144b77a","9d1d67f3-be68-47af-8b4e-6246f41e4c84"],"item_name":"BESENSE POCKET PACK 3"},{"amount":16200,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":2,"sale_ids":["95a6056b-d590-4604-bbe0-8e2c59266d2a"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":40500,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":5,"sale_ids":["89807ed1-5c38-40d9-a528-b3d1762b76d3","8fd312dd-2117-4c3c-a0c2-1698d02e9a9a"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":12150,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":1.5,"sale_ids":["f9650de6-6dee-4bf7-9579-fef8e87cd58c"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":9400,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":1,"sale_ids":["3199b5f9-05c5-4632-8442-7cb045c40959"],"item_name":"JUSTFIT N10 (GREEN)"}]'::jsonb WHERE id = 'adb7c88a-8016-4e14-9e25-24780014eda5';

-- Revert 44258910
UPDATE staff_payments SET items_paid_for = '[{"amount":830000,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":100,"sale_ids":["32cab41b-7d38-4dd1-8541-49e42b555659"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":830000,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":100,"sale_ids":["0a98b323-f7da-4b2e-9354-3d850db94baa"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":232000,"item_id":"43386967-2c4c-4a0b-bcaa-404f5b93bc2a","quantity":20,"sale_ids":["bdd2d0d5-2aaa-48e0-8960-d550d9e792f6"],"item_name":"BESENSE BY 10"},{"amount":801400,"item_id":"bb01e884-743f-47ac-b59a-29fb55328c2f","quantity":20,"sale_ids":["7d5ba9da-f8e3-4c73-9b49-fb6e266d4e18","06d5c72d-9ef4-4240-9651-c0800c357ff7","74a4c9a7-46cf-41c6-9bf4-e605e7e9ca4f","2579d553-b61a-44f9-acbf-623938d55e2f"],"item_name":"BESENSE BLUE MEGA MIX 30 PCS ZIP PAD"},{"amount":178000,"item_id":"8a899a2a-ae6f-46f8-b98c-765f15665770","quantity":20,"sale_ids":["6fdb01ac-376d-402f-bf4c-24318d916c01"],"item_name":"LEB CARRY PACK S3"},{"amount":88000,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":5,"sale_ids":["da1eed8e-be71-46c1-9b7c-e7879953373a"],"item_name":"JUSTFIT ECO PACK S3"},{"amount":74700,"item_id":"1bd30084-f1d1-4309-b682-19e609ab0935","quantity":3,"sale_ids":["3189c264-7166-4cbc-92e8-0273cf29fff9"],"item_name":"JUSTFIT JUMBO PACK S2"},{"amount":118000,"item_id":"8dd93527-0408-45ec-88f8-e07b3b8c8903","quantity":20,"sale_ids":["109b077c-5c34-44cd-bbd2-661bd1c8e2c1"],"item_name":"ANGEL BY 10PCS"},{"amount":74700,"item_id":"dc19077d-33ae-4cee-b4c0-3d387285a7aa","quantity":3,"sale_ids":["a5e8d52d-fd8d-48ca-b14f-70714eab7486"],"item_name":"JUSTFIT JUMBO PACK S3"},{"amount":45000,"item_id":"97ef068b-cb95-43ad-866c-b28a2b1d2db4","quantity":3,"sale_ids":["65a099c3-d946-49ab-83b8-51fe0313656a"],"item_name":"BESENSE WIPES BY 60PCS"},{"amount":97000,"item_id":"c237c195-dc49-4593-a6f3-9092e8202ac5","quantity":5,"sale_ids":["9db20470-ed7e-4238-9967-b6ab61775541"],"item_name":"LEB ECO PACK S3"},{"amount":88000,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":5,"sale_ids":["a2f278f7-cc42-48ec-973b-ed6493f140a5"],"item_name":"JUSTFIT ECO PACK S2"},{"amount":74400,"item_id":"cc56f79b-7fa0-4a30-850b-dc33824be4b9","quantity":2,"sale_ids":["06729086-ddb2-4eb0-a23a-3ae60202994d"],"item_name":"JUSTFIT ZIP PAD BY 30 PCS"},{"amount":81000,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":10,"sale_ids":["26f8e649-aed8-48b0-9702-24a56277ac29"],"item_name":"BESENSE POCKET PACK 3"},{"amount":45300,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":3,"sale_ids":["6d3c68bb-2089-4168-bcff-fce9bf731d69"],"item_name":"BESENSE WIPES BY 128PCS"}]'::jsonb WHERE id = '44258910-52a7-4c2c-97d0-6badae27f4f0';

-- Revert 5b9acbe3
UPDATE staff_payments SET items_paid_for = '[{"amount":2462700,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":301,"sale_ids":["74d9b0d8-7a7f-4720-ba47-512630ff1355","7afac31e-8fbb-4b18-9d27-ae32d82db3bc","b6bfb342-99bd-43e9-af93-3e5f2a744cf0","28df1526-0657-4b2c-8270-3fa6af6476d2","0e5264fa-e25b-45e3-bf85-54ea3dc9c150","5d0f5c44-1bee-4973-8e89-07c97515de89","fcd0956a-b12a-4b91-a12f-ffbd2826374b","53d7d542-3f58-4043-bde7-a91dda1fdf41","3f6f2890-e074-4b77-98c2-6868f695113a","f524d508-4b7c-4b74-aee8-9e28ed473b54","055586be-6cfb-4c2e-8e21-d8ef6f11ba7e","451481ff-aed0-4edd-b79f-143456b24b0d","267e5e0e-13b1-4aea-a718-73aeca20b866"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":3824900,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":469,"sale_ids":["24a1ead7-54d3-411c-810f-0c7e085492d7","eb64495b-63de-4da5-b86e-d5b7f8ec287a","304e5275-cd48-42d9-9e81-1b395b93232f","17a31dff-1097-490e-8d13-a76a157c9f08","3978c33d-349b-42c5-ad03-a22e3d52c12d","3941c081-0745-4a16-8c58-b0ada6291512","af89ad9f-c56f-4634-a903-5770c523877e","02f9ee24-a303-4c60-aa34-e88513cae007","f7240914-3962-4215-b266-68e5387e9cf1","f4d54f0d-8be3-4db7-87d9-f96582f46584","c7cad502-fa52-4eb0-8502-f1cadb2b8a4d","893fb8e1-6bd6-40be-b59c-46b1267419ab","ce9a5af2-fc98-477f-b2f4-e369d856aabc","b5fdcc3f-5d6f-49a1-934a-3ce4d284afba"],"item_name":"JUSTFIT CARRY PACK S2"}]'::jsonb WHERE id = '5b9acbe3-b345-468d-85e6-bdaea7367f96';

-- Revert 3ea37da6
UPDATE staff_payments SET items_paid_for = '[{"amount":1003200,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":57,"sale_ids":["f78cda71-4763-48de-a1fe-e0ff388e5acc"],"item_name":"JUSTFIT ECO PACK S2"},{"amount":854900,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":103,"sale_ids":["0f6a9676-8c6a-4271-9c21-54284fcf4696"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":40500,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":5,"sale_ids":["f3b31646-3ef8-44d1-85cf-ba47a775bdca"],"item_name":"BESENSE POCKET PACK 3"},{"amount":435500,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":25,"sale_ids":["77d697e3-11ee-4032-b354-c2ef3c924b98","21ff1941-5a9e-4384-9fd1-19bf2bdd50d3","500fe0d5-e776-4da7-b699-1928ca79ae1e","8f980d1f-4042-405f-bed6-2d79c165d1f9"],"item_name":"JUSTFIT ECO PACK S3"}]'::jsonb WHERE id = '3ea37da6-fedb-4b6e-b08d-ef915e032f10';

-- Revert ff945719
UPDATE staff_payments SET items_paid_for = '[{"amount":22000,"item_id":"f15d2969-36e6-4d39-b04d-f0a63d2723d7","quantity":2,"sale_ids":["7cca8a8b-9b67-4a75-809b-a18ca5aef85b"],"item_name":"AFRICAN TRADITIONAL BY 8+2LINER"},{"amount":45100,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":3,"sale_ids":["6ad4443b-20e8-4122-8053-2886384a1da1","1350dba2-7847-4673-abe4-3cfe6732a2a2","b4d6bd83-435f-4a09-b88e-eea9ed4466ae"],"item_name":"BESENSE WIPES BY 128PCS"},{"amount":234900,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":29,"sale_ids":["7ed5d313-1c7d-44b3-b5bf-3c098d651405"],"item_name":"JUSTFIT CARRY PACK S2"}]'::jsonb WHERE id = 'ff945719-217e-46b8-9942-a8b4f593acf8';

-- Revert 338b7575
UPDATE staff_payments SET items_paid_for = '[{"amount":486500,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":59,"sale_ids":["3e088a05-bc52-4bb7-a313-ea9638adb4b4","8f43e9e9-0caa-4770-aa63-4476989ad8a5"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":74700,"item_id":"1bd30084-f1d1-4309-b682-19e609ab0935","quantity":3,"sale_ids":["ad9cd3f7-bc71-48e2-a320-e73da96af24c"],"item_name":"JUSTFIT JUMBO PACK S2"}]'::jsonb WHERE id = '338b7575-a1ff-47f4-a996-4199a36fca5e';

-- Revert d507b12d
UPDATE staff_payments SET items_paid_for = '[{"amount":27000,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":1,"sale_ids":["cd52fbf3-340d-4a1a-84fe-0d2169138788"],"item_name":"DELE MATERNITY PAD"},{"amount":545000,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":31,"sale_ids":["540e7e23-b45c-4d0e-a8a0-cd334f928dbf","8cbffb9c-a3b5-42fb-93cc-6e015ead6a43"],"item_name":"JUSTFIT ECO PACK S3"}]'::jsonb WHERE id = 'd507b12d-03bd-4ffd-b2d9-067aa832dcda';

-- Revert 7fcc81de
UPDATE staff_payments SET items_paid_for = '[{"amount":535200,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":56,"sale_ids":["5a2fc590-6ae0-4730-86ab-d1a68edfe5e2","c7a9e18c-084d-424a-bad1-0e877377c6c8","f55cce4c-dbec-4bb3-b8cc-07eb2a627eea"],"item_name":"JUSTFIT N10 (GREEN)"},{"amount":87700,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":5,"sale_ids":["6a49b944-6a12-4019-b725-5cd33b23e791","732e103a-ff1b-4a24-80ed-55f7a74c733a"],"item_name":"JUSTFIT ECO PACK S2"},{"amount":122600,"item_id":"e27c5b62-79b7-4513-b207-77b32dae41c7","quantity":7,"sale_ids":["18719b6c-6102-4205-bd52-c5104f074c3d","d54e1e87-fb82-41a6-8d75-477057d196b2"],"item_name":"JUSTFIT ECO PACK S4"},{"amount":80200,"item_id":"bb01e884-743f-47ac-b59a-29fb55328c2f","quantity":2,"sale_ids":["523663f3-b968-4f42-8a24-aa687351ebb5"],"item_name":"BESENSE BLUE MEGA MIX 30 PCS ZIP PAD"}]'::jsonb WHERE id = '7fcc81de-1b88-4a70-883f-6f318b1b4179';

-- Revert 6cc0c86a
UPDATE staff_payments SET items_paid_for = '[{"amount":211500,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":7.5,"sale_ids":["937a0426-396d-45c1-91d5-445f8f4b5295","caad9d06-6606-442f-b9da-1521b6a373e1"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"},{"amount":270750,"item_id":"d0cbce50-194d-4e49-bc03-c0adce262a15","quantity":9.5,"sale_ids":["bf73dae6-a631-4662-972f-288659b56c5c","437c0b78-a336-47b5-bf35-bcd08ad397f0"],"item_name":"WIPES BY 120PCS"}]'::jsonb WHERE id = '6cc0c86a-44fd-4a0b-b9cd-64189a0b8728';

-- Revert 6b31eb77
UPDATE staff_payments SET items_paid_for = '[{"amount":108000,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":4,"sale_ids":["dc757048-0272-412b-bf1e-313cf6246fe9","20208fc4-5adc-45e6-8760-6c16b6d0052e"],"item_name":"DELE MATERNITY PAD"},{"amount":9500,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":1,"sale_ids":["7a952ebf-962f-4c9e-88e0-fc501015e73a"],"item_name":"JUSTFIT N10 (GREEN)"},{"amount":8100,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":1,"sale_ids":["d3ca4d9c-211c-446b-96e4-4c112a0bd50d"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":8100,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":1,"sale_ids":["a30454a8-a01a-4937-8fd6-66003ead68a6"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":8100,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":1,"sale_ids":["fc461ec0-b727-476f-b655-58c52608e53d"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":8700,"item_id":"0a0c0c07-078a-4a8f-857e-143ea460af90","quantity":1,"sale_ids":["f5d93f08-968a-4c87-8f62-0ef9e6cf2d9e"],"item_name":"LEB CARRY PACK S4"},{"amount":8700,"item_id":"8a899a2a-ae6f-46f8-b98c-765f15665770","quantity":1,"sale_ids":["86e4022a-b346-43a0-91dc-696133c322df"],"item_name":"LEB CARRY PACK S3"},{"amount":17400,"item_id":"326c4b63-1b0e-47f6-afb7-cf632929d8ee","quantity":2,"sale_ids":["7a1bf2b3-c68d-4fb3-8398-45cb132c66fd"],"item_name":"LEB CARRY PACK S2"},{"amount":112800,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":4,"sale_ids":["d7a8a39f-a8a2-42c0-a6f4-cdf2091e48d1","e507cb79-bd71-45a8-83ba-f67be9b5f525","8d00e94d-fadd-412d-9c30-e0d0fb696965"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"},{"amount":39100,"item_id":"d4bbe112-1a11-446e-ac58-e59986cd9a26","quantity":0.5,"sale_ids":["fa8796de-6ba7-4646-85a4-3f416b408e71"],"item_name":"ADULT M/L/XL"},{"amount":13500,"item_id":"1ebe4ee1-ce16-4047-9166-da281b78d043","quantity":1,"sale_ids":["70af9fbe-5411-42dc-bcbd-049b34c5841f"],"item_name":"WIPES BY 50PCS"},{"amount":28500,"item_id":"d0cbce50-194d-4e49-bc03-c0adce262a15","quantity":1,"sale_ids":["f167fa53-4ef0-4831-ac08-d341d3be1c77"],"item_name":"WIPES BY 120PCS"}]'::jsonb WHERE id = '6b31eb77-f36d-495d-9da8-fbdfd8db7625';

-- Revert 6a310cc4
UPDATE staff_payments SET items_paid_for = '[{"amount":372600,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":46,"sale_ids":["c46ac1f2-e4ec-4237-8ccd-41c611a5c045","24131dbd-3adf-4f41-b887-69aed47c8017","48d02cca-774b-4f00-b93d-b729f8db06df","6379a670-be15-448b-9ed1-aa4a80b73ebf","7fccba27-2d5c-4acc-9808-a4343b966126","6a6d5464-a952-4d35-8e60-0a73f53a958e","12f0b5e3-fb97-4ae6-86e1-effd179a8b52","6549605e-a3f5-4a65-b0ac-00a66c3347de","2524c49b-9cdd-44f8-8e5b-063568529e37","bf76a7d4-99c5-4bd9-8939-76df8f0f1822","7a0c1e16-e83e-4360-bd52-95b4010ca522"],"item_name":"JUSTFIT CARRY PACK S4"}]'::jsonb WHERE id = '6a310cc4-65b4-4941-bcc2-8e48754cfb69';

-- Revert 83272399
UPDATE staff_payments SET items_paid_for = '[{"amount":79000,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":10,"sale_ids":["3e93230a-75ae-4cd9-819a-5710106756e7"],"item_name":"BESENSE POCKET PACK 3"},{"amount":53200,"item_id":"326c4b63-1b0e-47f6-afb7-cf632929d8ee","quantity":6,"sale_ids":["5ee52c1d-e558-48be-949a-0301ab033c4f","fe8e481b-7a9c-4a43-9d89-0106c5eca2e8"],"item_name":"LEB CARRY PACK S2"},{"amount":53200,"item_id":"8a899a2a-ae6f-46f8-b98c-765f15665770","quantity":6,"sale_ids":["b26efc5e-c593-46d3-8367-7b6147eee7be","9fb1538e-292e-4a31-aa41-54caaa899393"],"item_name":"LEB CARRY PACK S3"},{"amount":44800,"item_id":"97ef068b-cb95-43ad-866c-b28a2b1d2db4","quantity":3,"sale_ids":["5090240a-43b0-47cb-804a-9bb9fe7709e9","c873f04d-ed15-4a31-892d-9850d7f850d0","e22ad4f8-1483-4e92-a934-792e26e828ec"],"item_name":"BESENSE WIPES BY 60PCS"},{"amount":74700,"item_id":"dc19077d-33ae-4cee-b4c0-3d387285a7aa","quantity":3,"sale_ids":["0c37b9d9-8e79-41d8-8246-44b9f808dcb8"],"item_name":"JUSTFIT JUMBO PACK S3"},{"amount":44500,"item_id":"0a0c0c07-078a-4a8f-857e-143ea460af90","quantity":5,"sale_ids":["8454a7de-d9d9-43ae-9ddf-90bd0e3734dd"],"item_name":"LEB CARRY PACK S4"}]'::jsonb WHERE id = '83272399-d8f7-493d-a0f9-58b9150fb738';

-- Revert 3c37f261
UPDATE staff_payments SET items_paid_for = '[{"amount":112450,"item_id":"e27c5b62-79b7-4513-b207-77b32dae41c7","quantity":6.5,"sale_ids":["03e3eaa2-5727-47b1-ad1b-67f54a5e97e6","f2b89f6b-1a88-4011-92b7-26e3666adcb4","74218504-bf17-44e4-a9aa-ccdbf05da669","b148a20a-a055-482f-a3d6-4ad8b9bd25ea","016aaaee-67ac-4fd7-ada5-6cd9181b68cf"],"item_name":"JUSTFIT ECO PACK S4"},{"amount":357200,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":38,"sale_ids":["ebe16753-cf7b-4653-9961-0aa33d3bb65f","5aa27906-27ff-4b45-b5c3-76767a171381","582e3a86-ea38-4c69-b6b5-2168029f58cc","bea6a138-840d-41bd-b61b-f313c788c1c6"],"item_name":"JUSTFIT N10 (GREEN)"},{"amount":615600,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":76,"sale_ids":["7460369f-94cf-497c-aa2f-34c8e32b6a6a","40e98eb3-c140-4d0a-a235-74a93bf7ad68","cfa92eaa-f929-4767-a1ea-2884ff8cbda9","6eddf36c-c95f-4934-8793-4f97d8dabf0a","7de24375-08e4-4f37-b695-3467c5a2d4b8","8e2b411c-df49-4c68-a566-25d06e20b2ff","5e3b7e89-9533-431d-ac89-cb2416649f45","6256a2d5-f390-4c44-a847-9329d175eb45","462fab88-61e6-4a11-9b16-02a81d629860","06f0a6c3-e4d1-46e7-bc33-7b4a61829ff0","4a686a91-cdd0-4a2b-b6e4-125b35739d38","d06ac16d-7bb4-47e4-8247-50b230f0409e","e1fcf49e-bf7a-416e-abf8-0958c710b4c1"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":79800,"item_id":"7e31223b-5bd1-422a-9cb7-d0dad89686cb","quantity":2,"sale_ids":["0a92ef4e-66d0-446f-b7cf-8e0627bce7ba","5b489291-b1c6-4d30-ac03-869b8d5cd135"],"item_name":"BESENSE PINK MEGA MIX 30 PC ZIP PAD-HANDLE"},{"amount":59600,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":4,"sale_ids":["72aafea1-0ebf-43e7-8784-0d80cd139d7c","c77c8981-6dcb-4cc8-ba93-2e52d11b1cd0"],"item_name":"BESENSE WIPES BY 128PCS"},{"amount":59200,"item_id":"97ef068b-cb95-43ad-866c-b28a2b1d2db4","quantity":4,"sale_ids":["3dfdd60c-8000-48fc-a2f6-ac4885ce7209","6a41809c-cd9b-47d3-aea1-8ab5a49f6940"],"item_name":"BESENSE WIPES BY 60PCS"},{"amount":137700,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":17,"sale_ids":["f6e3d3c2-7ca0-423b-a642-51e2051065a5","f22ea3ac-8cdc-4bda-b414-d308d21f207f","c1811a4b-84c1-459d-8d02-2322dd87e69c","ff37ae66-ee83-4d23-8bc7-a8fb942f487b","34d3004b-508f-4841-9f6d-b97aa62ad44e","2aecf31d-1a19-4613-a7cc-834bb0b6757f","5d3feb28-3cb0-4286-9ea8-19f0ef97fd56","1f4700f2-7f47-4ee0-ac83-39c73c7856bf","5156c84e-cd27-49d6-a5b9-e8590a8c0a53","ae3bc1d7-a97f-4765-a2a4-6a2a5a8e9ef3","dcee2cf0-463a-4f0e-b168-fdde8efeeefe","872cc596-a33a-4b98-8b4a-fa9d8a32d06b","c898340e-2e12-49e4-9f9d-4e2d63bb1caf","7ccbb79b-189a-4b91-8b23-fb6c3f7761f5","1b442fb0-d189-40f3-82fb-19426d027f6f","cd3a903a-d027-44fb-9b88-9134a8591388","498fffb6-8e7a-40fb-ab8a-c62947830e6b","cd5c72e9-64f1-44bf-8e58-1a69a2bd64af","981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":23700,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":3,"sale_ids":["26158141-57dd-42df-9c3c-8ee74da5b34e","14860346-7137-48ec-bcc4-48b1cd173603"],"item_name":"BESENSE POCKET PACK 3"},{"amount":311400,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":18,"sale_ids":["ab17e393-45d2-4ec7-9119-97fbb426f438","1024aa74-ebd8-4e0a-8db3-1ecf49831846","bbba1c75-de6d-42d3-b636-0aa6101d337f","ab42c033-2301-4a3e-b409-dbe5407d1ee1"],"item_name":"JUSTFIT ECO PACK S2"},{"amount":346000,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":20,"sale_ids":["5369133d-f295-4bbd-b83c-5c163affb4ca","6fe07e6d-d0de-43e1-8bd0-1be260db283b","69ff4d7f-57de-4b64-affe-8d14714404bf","008e6402-ab2f-4926-b3c1-33ac8dbd99d2","4d51c6a2-1b88-42d0-a46c-a3efd56f2dc8","0e54f3fe-7773-4973-b438-d12f2c43a801","52da5245-8704-4544-87ff-23b2ea84fb29","32ff903a-373b-4f54-8a11-e772af8b0b11","a0e6a7c3-d4e0-4bdb-af1e-e2f36939c2b9"],"item_name":"JUSTFIT ECO PACK S3"}]'::jsonb WHERE id = '3c37f261-3d9f-4917-ad8f-1bbae920ec5c';

-- Revert 179de0da
UPDATE staff_payments SET items_paid_for = '[{"amount":97200,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":12,"sale_ids":["f6e3d3c2-7ca0-423b-a642-51e2051065a5","f22ea3ac-8cdc-4bda-b414-d308d21f207f","c1811a4b-84c1-459d-8d02-2322dd87e69c","ff37ae66-ee83-4d23-8bc7-a8fb942f487b","34d3004b-508f-4841-9f6d-b97aa62ad44e","2aecf31d-1a19-4613-a7cc-834bb0b6757f","5d3feb28-3cb0-4286-9ea8-19f0ef97fd56","1f4700f2-7f47-4ee0-ac83-39c73c7856bf","5156c84e-cd27-49d6-a5b9-e8590a8c0a53","ae3bc1d7-a97f-4765-a2a4-6a2a5a8e9ef3","dcee2cf0-463a-4f0e-b168-fdde8efeeefe","872cc596-a33a-4b98-8b4a-fa9d8a32d06b","c898340e-2e12-49e4-9f9d-4e2d63bb1caf","7ccbb79b-189a-4b91-8b23-fb6c3f7761f5","1b442fb0-d189-40f3-82fb-19426d027f6f","cd3a903a-d027-44fb-9b88-9134a8591388","498fffb6-8e7a-40fb-ab8a-c62947830e6b","cd5c72e9-64f1-44bf-8e58-1a69a2bd64af","981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '179de0da-e8ca-4922-9c3e-1db7925cfd98';

-- Revert d74e1fe5
UPDATE staff_payments SET items_paid_for = '[{"amount":202500,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":25,"sale_ids":["dcee2cf0-463a-4f0e-b168-fdde8efeeefe","872cc596-a33a-4b98-8b4a-fa9d8a32d06b","c898340e-2e12-49e4-9f9d-4e2d63bb1caf","7ccbb79b-189a-4b91-8b23-fb6c3f7761f5","1b442fb0-d189-40f3-82fb-19426d027f6f","cd3a903a-d027-44fb-9b88-9134a8591388","498fffb6-8e7a-40fb-ab8a-c62947830e6b","cd5c72e9-64f1-44bf-8e58-1a69a2bd64af","981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = 'd74e1fe5-edfd-4c06-a712-baa3eca97cf3';

-- Revert 49b0d249
UPDATE staff_payments SET items_paid_for = '[{"amount":539500,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":65,"sale_ids":["1b442fb0-d189-40f3-82fb-19426d027f6f","cd3a903a-d027-44fb-9b88-9134a8591388","498fffb6-8e7a-40fb-ab8a-c62947830e6b","cd5c72e9-64f1-44bf-8e58-1a69a2bd64af","981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '49b0d249-7d78-4ba3-8c23-a56824327b54';

-- Revert 28178996
UPDATE staff_payments SET items_paid_for = '[{"amount":74000,"item_id":"cc56f79b-7fa0-4a30-850b-dc33824be4b9","quantity":2,"sale_ids":["1062bafb-bd27-4112-a6f5-916e7526d0ce"],"item_name":"JUSTFIT ZIP PAD BY 30 PCS"},{"amount":210600,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":26,"sale_ids":["f22ea3ac-8cdc-4bda-b414-d308d21f207f","c1811a4b-84c1-459d-8d02-2322dd87e69c","ff37ae66-ee83-4d23-8bc7-a8fb942f487b","34d3004b-508f-4841-9f6d-b97aa62ad44e","2aecf31d-1a19-4613-a7cc-834bb0b6757f","5d3feb28-3cb0-4286-9ea8-19f0ef97fd56","1f4700f2-7f47-4ee0-ac83-39c73c7856bf","5156c84e-cd27-49d6-a5b9-e8590a8c0a53","ae3bc1d7-a97f-4765-a2a4-6a2a5a8e9ef3","dcee2cf0-463a-4f0e-b168-fdde8efeeefe","872cc596-a33a-4b98-8b4a-fa9d8a32d06b","c898340e-2e12-49e4-9f9d-4e2d63bb1caf","7ccbb79b-189a-4b91-8b23-fb6c3f7761f5","1b442fb0-d189-40f3-82fb-19426d027f6f","cd3a903a-d027-44fb-9b88-9134a8591388","498fffb6-8e7a-40fb-ab8a-c62947830e6b","cd5c72e9-64f1-44bf-8e58-1a69a2bd64af","981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '28178996-300a-4576-acd9-e8ec77922bdd';

-- Revert 870b276f
UPDATE staff_payments SET items_paid_for = '[{"amount":1101600,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":136,"sale_ids":["872cc596-a33a-4b98-8b4a-fa9d8a32d06b","c898340e-2e12-49e4-9f9d-4e2d63bb1caf","7ccbb79b-189a-4b91-8b23-fb6c3f7761f5","1b442fb0-d189-40f3-82fb-19426d027f6f","cd3a903a-d027-44fb-9b88-9134a8591388","498fffb6-8e7a-40fb-ab8a-c62947830e6b","cd5c72e9-64f1-44bf-8e58-1a69a2bd64af","981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '870b276f-0562-4ee7-b67a-3533fc92f31a';

-- Revert 1227db79
UPDATE staff_payments SET items_paid_for = '[{"amount":249000,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":30,"sale_ids":["1b442fb0-d189-40f3-82fb-19426d027f6f","cd3a903a-d027-44fb-9b88-9134a8591388","498fffb6-8e7a-40fb-ab8a-c62947830e6b","cd5c72e9-64f1-44bf-8e58-1a69a2bd64af","981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '1227db79-7338-4d7c-aacb-68d6b839a5cb';

-- Revert c1d6fa80
UPDATE staff_payments SET items_paid_for = '[{"amount":141100,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":17,"sale_ids":["1b442fb0-d189-40f3-82fb-19426d027f6f","cd3a903a-d027-44fb-9b88-9134a8591388","498fffb6-8e7a-40fb-ab8a-c62947830e6b","cd5c72e9-64f1-44bf-8e58-1a69a2bd64af","981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = 'c1d6fa80-a0cc-4e37-b8ff-b4ed3363c1f5';

-- Revert 6c5a988b
UPDATE staff_payments SET items_paid_for = '[{"amount":307100,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":37,"sale_ids":["498fffb6-8e7a-40fb-ab8a-c62947830e6b","cd5c72e9-64f1-44bf-8e58-1a69a2bd64af","981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '6c5a988b-ea0f-4136-90ce-aa62b277ac9c';

-- Revert 5a69338c
UPDATE staff_payments SET items_paid_for = '[{"amount":226800,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":28,"sale_ids":["981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '5a69338c-0f88-499c-b470-9ea1d46c864c';

-- Revert 6d0f1600
UPDATE staff_payments SET items_paid_for = '[{"amount":24300,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":3,"sale_ids":["d3618373-ab5f-4e34-8d5c-7bffeb7d8a53"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":32400,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":4,"sale_ids":["2539ba03-aff9-4f33-b985-093bd5976e71","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":24300,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":3,"sale_ids":["1e608139-c4be-4cbf-8386-850e8c1a56d7"],"item_name":"JUSTFIT CARRY PACK S2"}]'::jsonb WHERE id = '6d0f1600-98c1-4e38-a9c5-fed389d411d4';

-- Revert 07383dfd
UPDATE staff_payments SET items_paid_for = '[{"amount":24300,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":3,"sale_ids":["be205f35-3d28-4b4a-9a7a-0552abad653f"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":17300,"item_id":"e27c5b62-79b7-4513-b207-77b32dae41c7","quantity":1,"sale_ids":["8fd6d6a5-2ede-4b3b-9d13-9441eeb71115"],"item_name":"JUSTFIT ECO PACK S4"},{"amount":32400,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":4,"sale_ids":["c688832c-2cd4-4e5d-9927-4846f28e309d","981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":24600,"item_id":"1bd30084-f1d1-4309-b682-19e609ab0935","quantity":1,"sale_ids":["3b06c15b-32f7-4d99-8f7d-0a8f48bf3a4c"],"item_name":"JUSTFIT JUMBO PACK S2"},{"amount":24300,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":3,"sale_ids":["69270b08-20ac-4e65-bf17-50906cd77962"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":24600,"item_id":"c439ead5-9f3d-4ccf-b83a-12485ea49f95","quantity":1,"sale_ids":["9213e2b5-d26f-49c8-9078-11c7f524713a"],"item_name":"JUSTFIT JUMBO PACK S4"}]'::jsonb WHERE id = '07383dfd-ad5d-4232-95f2-9ce08eb2a51e';

-- Revert 4a74bb03
UPDATE staff_payments SET items_paid_for = '[{"amount":324000,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":40,"sale_ids":["981cc7bb-98d4-4b8b-b02d-2c47ef4c006c","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '4a74bb03-56d4-4ec4-b815-1d86ff45d894';

-- Revert 799b9ea7
UPDATE staff_payments SET items_paid_for = '[{"amount":48600,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":6,"sale_ids":["63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '799b9ea7-8c5f-4d82-a078-cc8113ee9dd1';

-- Revert e98aa798
UPDATE staff_payments SET items_paid_for = '[{"amount":81000,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":10,"sale_ids":["2d5a8a1c-dc0a-43bc-a607-125150af2c38"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":243000,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":30,"sale_ids":["b972ab43-09fa-4e80-8e36-9d2ed542fd4f","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":34600,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":2,"sale_ids":["8fdbfe7b-8547-4af1-84ea-ebd65b452d38"],"item_name":"JUSTFIT ECO PACK S2"},{"amount":81000,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":10,"sale_ids":["8d784265-bf5f-48ec-850c-9076d13c05a7"],"item_name":"JUSTFIT CARRY PACK S2"}]'::jsonb WHERE id = 'e98aa798-b849-4d9c-a274-963cdee84a92';

-- Revert 7ff632d3
UPDATE staff_payments SET items_paid_for = '[{"amount":234900,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":29,"sale_ids":["63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '7ff632d3-7993-4b92-a216-b7d2e9f8e405';

-- Revert a958edab
UPDATE staff_payments SET items_paid_for = '[{"amount":86500,"item_id":"e27c5b62-79b7-4513-b207-77b32dae41c7","quantity":5,"sale_ids":["0effb1ab-89d1-4b0e-a1b3-57107e6737fd"],"item_name":"JUSTFIT ECO PACK S4"},{"amount":162000,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":20,"sale_ids":["f1881aea-5a36-4148-88ba-481dafa5771f"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":173000,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":10,"sale_ids":["3ba46bb9-f928-4a0a-8479-6fa1d759683e"],"item_name":"JUSTFIT ECO PACK S3"},{"amount":324000,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":40,"sale_ids":["8d88b57a-0daa-4ff4-91b9-6f4b6d5cc41e","63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":173000,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":10,"sale_ids":["72589534-52c7-4407-bbf1-1f353acc58a2"],"item_name":"JUSTFIT ECO PACK S2"},{"amount":324000,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":40,"sale_ids":["cfa934c9-e5d5-4fe2-9703-f00713809a2e"],"item_name":"JUSTFIT CARRY PACK S2"}]'::jsonb WHERE id = 'a958edab-c414-438c-b26d-5f3cf51c706b';

-- Revert 42bebd6d
UPDATE staff_payments SET items_paid_for = '[{"amount":133650,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":16.5,"sale_ids":["63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '42bebd6d-ed57-4d8c-807c-bb3f076ffede';

-- Revert 11fbd9fb
UPDATE staff_payments SET items_paid_for = '[{"amount":251100,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":31,"sale_ids":["63257a45-35bb-4132-b50c-ed24d294ea51","932827c9-c28f-4e3e-8987-2e9c4efb2a06","c6641a2c-04b6-486c-aea3-24db17bbde32","18aa651b-afde-41c4-9681-7a8a845c52a3","b4b0c62f-a03a-49c8-850e-ddc93b931ea3","dff17373-fb06-4d21-8f88-d53094f05152","543ba287-62d7-401b-8638-642251d28b66","bbdb9781-d7a8-4c83-b208-7d4f82d0ff65","e9c999f5-15d5-469d-8873-428027e0f80e"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = '11fbd9fb-552a-4bd9-897f-07aa3e0ea772';

-- Revert f8388254
UPDATE staff_payments SET items_paid_for = '[{"amount":256500,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":9.5,"sale_ids":["ced96477-6166-4c7c-8a10-81bc5fcd9b26","8300d1d1-5d6f-438f-81f0-a88b3025370d","54f35318-16f8-45ea-9b0c-f022357eb823","d1ffc439-d2c8-450a-8a74-06a8014b4dab","cd87b021-8c92-4289-ac85-931f857797da"],"item_name":"DELE MATERNITY PAD"},{"amount":28200,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":1,"sale_ids":["67683f63-9d55-47d4-9030-cc5a58a904f6"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"},{"amount":14800,"item_id":"97ef068b-cb95-43ad-866c-b28a2b1d2db4","quantity":1,"sale_ids":["5b6dfb78-47b2-4849-8c43-da1e7fa90356"],"item_name":"BESENSE WIPES BY 60PCS"},{"amount":26700,"item_id":"c14f7549-ad9f-448f-83ae-902007ac8d16","quantity":1,"sale_ids":["abfab170-45c8-410c-8cff-d326eb556bb8"],"item_name":"LEB JUMBO PACK S3"},{"amount":435000,"item_id":"8a899a2a-ae6f-46f8-b98c-765f15665770","quantity":50,"sale_ids":["c7272237-3d00-4a40-8edc-092460bb8dd3"],"item_name":"LEB CARRY PACK S3"},{"amount":174000,"item_id":"0a0c0c07-078a-4a8f-857e-143ea460af90","quantity":20,"sale_ids":["49f202b6-faa2-43c0-8df8-114e1c6cddb4"],"item_name":"LEB CARRY PACK S4"},{"amount":9500,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":1,"sale_ids":["a0535915-a0d8-4b48-b16d-b63f2374c0b5"],"item_name":"JUSTFIT N10 (GREEN)"},{"amount":8100,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":1,"sale_ids":["6bd69923-6ffe-4220-8665-700586e96101"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":8100,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":1,"sale_ids":["dae40577-eede-41ce-81d4-56cfa687601c"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":8100,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":1,"sale_ids":["a484ddb1-ddca-4db6-9b4f-84cc93319e68"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = 'f8388254-98f3-4fb2-8299-a96c12247e45';

-- Revert d55c0e00
UPDATE staff_payments SET items_paid_for = '[{"amount":56400,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":2,"sale_ids":["9dff090a-eaa4-43b4-b027-dd198bb895eb","b2969a4c-2a2f-44aa-a63c-5563e62c2010"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"},{"amount":117300,"item_id":"d4bbe112-1a11-446e-ac58-e59986cd9a26","quantity":1.5,"sale_ids":["12a675f5-40a0-42ad-ac67-a29a33634746","f057ab50-02ce-464a-8c99-e0c461eb4ac4"],"item_name":"ADULT M/L/XL"}]'::jsonb WHERE id = 'd55c0e00-dc02-4dda-9650-8a0fddb2e0b0';

-- Revert 6b369865
UPDATE staff_payments SET items_paid_for = '[{"amount":332100,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":41,"sale_ids":["705919b1-1351-455e-ace7-a903dc943d6a","5b19c7d4-0174-42f5-b156-23e277433e40"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":575100,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":71,"sale_ids":["fb7404f4-0e31-400c-941a-7e212fefeeb0","763b37ee-4594-4800-9270-5e2e95ae4572"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":332100,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":41,"sale_ids":["5af2c8b1-6f2b-43ae-9708-267c6b8a0e03","cb21b47d-077b-4791-a0e1-df6effaf97ca"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":79000,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":10,"sale_ids":["eb264e00-8546-456a-b428-f366f33c283d"],"item_name":"BESENSE POCKET PACK 3"},{"amount":220000,"item_id":"f15d2969-36e6-4d39-b04d-f0a63d2723d7","quantity":20,"sale_ids":["7f98ba52-82a0-44bd-a1fe-98f80b166246"],"item_name":"AFRICAN TRADITIONAL BY 8+2LINER"},{"amount":86500,"item_id":"e27c5b62-79b7-4513-b207-77b32dae41c7","quantity":5,"sale_ids":["2ac0d746-3a15-40f9-acdf-a4ef8f5a935c"],"item_name":"JUSTFIT ECO PACK S4"},{"amount":86500,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":5,"sale_ids":["64ebe566-56fe-44c6-8efe-d2ad7bee3c54"],"item_name":"JUSTFIT ECO PACK S3"},{"amount":60550,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":3,"sale_ids":["d38f747d-6e91-424a-a163-425a4f1d709f"],"item_name":"JUSTFIT ECO PACK S2"}]'::jsonb WHERE id = '6b369865-6ee3-4c42-8249-00b17abd239e';

-- Revert da7aa352
UPDATE staff_payments SET items_paid_for = '[{"amount":366600,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":13,"sale_ids":["4216508f-a164-4422-ae97-ec8172b26afb","970984fe-14af-44f6-aec6-f5f82b4cc0ef","1912412c-0ec0-4dc0-9347-01aa7a05483f"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"}]'::jsonb WHERE id = 'da7aa352-cdf9-490c-b849-5ba60a310d21';

-- Revert 6eb79373
UPDATE staff_payments SET items_paid_for = '[{"amount":112800,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":4,"sale_ids":["2dcea305-0704-4f4b-8302-87d1450a00e0","2ddac9a1-c20b-47d2-a460-cac32eb8622b"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"},{"amount":108000,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":4,"sale_ids":["f19561fb-ad4b-4561-903c-583bde58ff1c","9afabb6e-77fa-4e81-8207-f3772f209c17"],"item_name":"DELE MATERNITY PAD"},{"amount":78200,"item_id":"d4bbe112-1a11-446e-ac58-e59986cd9a26","quantity":1,"sale_ids":["9bc45efe-6529-4482-a684-d2e844951672","1da4ce96-a686-4a27-a2a3-a2463510aa55"],"item_name":"ADULT M/L/XL"}]'::jsonb WHERE id = '6eb79373-529f-449b-a7a0-ad5f4b88034b';

-- Revert 2d618a22
UPDATE staff_payments SET items_paid_for = '[{"amount":22000,"item_id":"f15d2969-36e6-4d39-b04d-f0a63d2723d7","quantity":2,"sale_ids":["fa6ebf52-8b32-46e7-bd6d-a3ed1f80746c","1a4e2991-fac1-411a-814f-f266ffc838f0"],"item_name":"AFRICAN TRADITIONAL BY 8+2LINER"},{"amount":8100,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":1,"sale_ids":["cf60b8fa-d5c9-4200-836f-34d37a295d6a"],"item_name":"JUSTFIT CARRY PACK S2"}]'::jsonb WHERE id = '2d618a22-7420-475d-95b3-c8ddd08a3048';

-- Revert 1936c2ab
UPDATE staff_payments SET items_paid_for = '[{"amount":8700,"item_id":"f52bf34d-a400-4b49-a0ce-0130346942a9","quantity":1,"sale_ids":["63c8b4db-9106-4e49-be2f-ada684432a71"],"item_name":"LEB CARRY PACK S5"},{"amount":54000,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":2,"sale_ids":["dc07d83e-882f-4b20-8883-085c1a1894a0","c646546f-614d-4bf7-8de1-c51243358d7e"],"item_name":"DELE MATERNITY PAD"},{"amount":28200,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":1,"sale_ids":["b6d5d15d-dd06-4324-b68f-46368d25bfdb"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"}]'::jsonb WHERE id = '1936c2ab-93f4-4947-b61f-bb61ea44f5e5';

-- Revert 9343c2e7
UPDATE staff_payments SET items_paid_for = '[{"amount":189000,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":7,"sale_ids":["9f062633-bddd-42f8-a988-67a4d922a764","b969bdff-e1bb-44bb-b47b-deb35560e084"],"item_name":"DELE MATERNITY PAD"},{"amount":19100,"item_id":"3a8e318b-a82d-4ca0-bcb8-3201b749460d","quantity":1,"sale_ids":["07d54187-b36e-46d9-aaf5-fa198434e677"],"item_name":"LEB ECO PACK S4"},{"amount":18800,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":2,"sale_ids":["9adc0765-9218-4cdc-af48-8205f301d84a"],"item_name":"JUSTFIT N10 (GREEN)"}]'::jsonb WHERE id = '9343c2e7-326d-470d-af0c-84dfa9f4d10f';

-- Revert 6873d840
UPDATE staff_payments SET items_paid_for = '[{"amount":97200,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":12,"sale_ids":["24d98e9f-c250-4c0c-a191-5c6da31de9cf","899d5d19-a74f-4def-b65d-239d217d3fad"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":351000,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":13,"sale_ids":["0301c328-4457-41fb-8c85-8030523b4cbe","e4eac0ab-c9ee-463e-9547-c94889af4295","360e8fdb-41c4-455f-90fd-745a51be4085","48f81c12-7fc3-4c67-acc6-79825a060464"],"item_name":"DELE MATERNITY PAD"},{"amount":26700,"item_id":"c14f7549-ad9f-448f-83ae-902007ac8d16","quantity":1,"sale_ids":["5ad5d318-495e-4475-b944-d2f5bfab7243"],"item_name":"LEB JUMBO PACK S3"},{"amount":15800,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":2,"sale_ids":["8cd3db08-d335-4ed1-b79c-6bc6b51d45c4"],"item_name":"BESENSE POCKET PACK 3"},{"amount":469200,"item_id":"d4bbe112-1a11-446e-ac58-e59986cd9a26","quantity":6,"sale_ids":["d3415dbc-3fdb-48b3-a8a6-9795e6054ac5","da96c0d6-c7ad-458d-9b6a-ec028e35612d"],"item_name":"ADULT M/L/XL"}]'::jsonb WHERE id = '6873d840-6854-442e-bd15-cfebf7270aef';

-- Revert 0b139ca8
UPDATE staff_payments SET items_paid_for = '[{"amount":147600,"item_id":"c439ead5-9f3d-4ccf-b83a-12485ea49f95","quantity":6,"sale_ids":["9baaa034-617d-402a-bac9-12beda61c32c"],"item_name":"JUSTFIT JUMBO PACK S4"},{"amount":19100,"item_id":"5ceed3e9-e9ea-4513-9fec-741aefd06af0","quantity":1,"sale_ids":["83eccdc6-adab-487d-9d11-4ed5445d2a91"],"item_name":"LEB ECO PACK S2"},{"amount":409750,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":27.5,"sale_ids":["b1b0288a-f955-4f7f-99e3-e13170a29219","dce0e413-cb9a-4d3b-b3e2-9478a26e5600","75bc7de5-83f6-496a-b995-b511e4bd322f"],"item_name":"BESENSE WIPES BY 128PCS"},{"amount":348300,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":43,"sale_ids":["317f2c8e-40a0-48c5-8a70-0b7fcee7034a","a03c0d8d-fea3-40a2-968b-3be389e9e3ef","0b86722a-7a90-4ed7-bc1d-52c9b2e1bbac"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":207200,"item_id":"97ef068b-cb95-43ad-866c-b28a2b1d2db4","quantity":14,"sale_ids":["53234bbd-3ae1-4d9e-a9e0-da57778a88b0","c3e9f896-8788-41f3-915d-cc6e92a60bb6"],"item_name":"BESENSE WIPES BY 60PCS"}]'::jsonb WHERE id = '0b139ca8-5a9b-4620-a3c5-cc1b2121b4c2';

-- Revert 40ef6517
UPDATE staff_payments SET items_paid_for = '[{"amount":48600,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":6,"sale_ids":["0056a441-a28a-492f-a373-472b038c2276","627db579-930c-4bc2-b4b4-fd817dce584e"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":110000,"item_id":"f15d2969-36e6-4d39-b04d-f0a63d2723d7","quantity":10,"sale_ids":["60e58049-9c21-4e36-afad-d7c7c3160d73"],"item_name":"AFRICAN TRADITIONAL BY 8+2LINER"}]'::jsonb WHERE id = '40ef6517-0cef-4e74-8ea8-7ceee04883d4';

-- Revert 8a121fa8
UPDATE staff_payments SET items_paid_for = '[{"amount":27000,"item_id":"1ebe4ee1-ce16-4047-9166-da281b78d043","quantity":2,"sale_ids":["4586bea7-244d-43b3-80a8-072f7392eb99"],"item_name":"WIPES BY 50PCS"},{"amount":37250,"item_id":"7651ffdb-a16a-447e-bb7c-d681bd05e671","quantity":2.5,"sale_ids":["e931be5b-98a1-4689-9a08-8221ab9e8acc"],"item_name":"BESENSE WIPES BY 128PCS"},{"amount":169200,"item_id":"dd27ca48-02e0-4f26-9aac-c55dafd679d9","quantity":6,"sale_ids":["8ed39914-ee7a-4f68-9a6e-a2f0cab75661","4f75b299-0b99-4f2f-8387-d7a4627f414c","baacac73-9b08-4d64-b2d8-3d4d758e02de"],"item_name":"UNDERLAY/UNDERPAD/NIGHTINGALE"}]'::jsonb WHERE id = '8a121fa8-e4a7-401a-99dd-9b1a3141912c';

-- Revert 2d2df598
UPDATE staff_payments SET items_paid_for = '[{"amount":23700,"item_id":"d7967956-7c2c-46db-bb6b-56df5a5d4017","quantity":3,"sale_ids":["da9f2f45-db67-47f6-865f-b95d887f4534"],"item_name":"BESENSE POCKET PACK 3"},{"amount":10300,"item_id":"312b4866-00be-4069-bdca-8ce70c276129","quantity":1,"sale_ids":["ab27757e-1f62-492f-977f-97fde916458c"],"item_name":"BESENCE CP S3"},{"amount":60900,"item_id":"326c4b63-1b0e-47f6-afb7-cf632929d8ee","quantity":7,"sale_ids":["c3d1ebee-af0c-4a91-8939-9e63bb2f0604","cd0b78b3-a324-4cbf-83be-1a8d4417dd99"],"item_name":"LEB CARRY PACK S2"}]'::jsonb WHERE id = '2d2df598-84a1-4ad1-bb21-a3cc2b2abf9e';

-- Revert 72958253
UPDATE staff_payments SET items_paid_for = '[{"amount":16200,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":2,"sale_ids":["583d953b-8fa1-41b9-b31c-9d4ea0a7e4b7","6f8c4851-bcee-41ba-8589-d62e8d53c193","8dfaebc0-f1af-43cd-9df8-497aab82c1d3"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":54000,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":2,"sale_ids":["efe44cfa-3ff4-4e37-84ca-dbe78c13d526","b90c77fb-6db5-4ea7-bd60-d8575755918e","1c6f3808-be8e-4800-897d-c71e9781ee68","b222d23a-8cf6-4e1c-bf6b-9270fcc86257"],"item_name":"DELE MATERNITY PAD"},{"amount":34600,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":2,"sale_ids":["627b50fa-adf7-4ece-93f4-151f4e8629fd","e61e7b1f-3fd0-4ccc-9f8b-d69b354a74d8"],"item_name":"JUSTFIT ECO PACK S2"}]'::jsonb WHERE id = '72958253-65b5-4912-b9bf-58d927b32257';

-- Revert 20152e85
UPDATE staff_payments SET items_paid_for = '[{"amount":639600,"item_id":"1bd30084-f1d1-4309-b682-19e609ab0935","quantity":26,"sale_ids":["ab7556e4-ed88-482f-b2ad-521b63cd7fb1","0cfb74ec-ff3c-42ed-8ebf-f0b76f728755"],"item_name":"JUSTFIT JUMBO PACK S2"},{"amount":432000,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":16,"sale_ids":["1216594a-09e3-4458-91c4-5057b54e85d7","2c2ab2c5-bbaa-404a-a8fb-b129c7eab43e"],"item_name":"DELE MATERNITY PAD"},{"amount":359100,"item_id":"7e31223b-5bd1-422a-9cb7-d0dad89686cb","quantity":9,"sale_ids":["0355d175-b0e6-49e3-b42c-a7dca79232bd"],"item_name":"BESENSE PINK MEGA MIX 30 PC ZIP PAD-HANDLE"},{"amount":2162500,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":125,"sale_ids":["3289f2e0-96f5-4398-946b-a5ccc1e7609d"],"item_name":"JUSTFIT ECO PACK S2"},{"amount":122200,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":13,"sale_ids":["899e9ec6-bd3f-4526-9f6a-4a649db3674b"],"item_name":"JUSTFIT N10 (GREEN)"},{"amount":57300,"item_id":"5ceed3e9-e9ea-4513-9fec-741aefd06af0","quantity":3,"sale_ids":["d3f5bd7a-c31d-4683-9afd-441be8fd0064"],"item_name":"LEB ECO PACK S2"},{"amount":19100,"item_id":"c237c195-dc49-4593-a6f3-9092e8202ac5","quantity":1,"sale_ids":["e7b4496b-767a-43fc-8ca9-551414beea59"],"item_name":"LEB ECO PACK S3"},{"amount":185000,"item_id":"cc56f79b-7fa0-4a30-850b-dc33824be4b9","quantity":5,"sale_ids":["06dc360f-7707-4c4a-b62d-c4327f78849b"],"item_name":"JUSTFIT ZIP PAD BY 30 PCS"},{"amount":1296000,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":160,"sale_ids":["2cdf5cf4-9330-4b7e-b048-14e1b3219a6a"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":60900,"item_id":"8a899a2a-ae6f-46f8-b98c-765f15665770","quantity":7,"sale_ids":["82c149d5-09f0-4c90-a375-ec1224c2582e","78591aec-8c66-4c44-8fad-01be3a42d933"],"item_name":"LEB CARRY PACK S3"}]'::jsonb WHERE id = '20152e85-e4ac-41da-94b2-8cff21674ef7';

-- Revert dc7dc1cf
UPDATE staff_payments SET items_paid_for = '[{"amount":148500,"item_id":"1ebe4ee1-ce16-4047-9166-da281b78d043","quantity":11,"sale_ids":["2a9d0f1a-e620-4283-85b2-51865f698b9c","02a9671a-acbb-4408-a290-7f5ba3aad09b"],"item_name":"WIPES BY 50PCS"}]'::jsonb WHERE id = 'dc7dc1cf-59b1-4925-8926-a63950a44fe2';

-- Revert e8d34da7
UPDATE staff_payments SET items_paid_for = '[{"amount":916900,"item_id":"9786211d-9dfb-42cd-83ef-7e32f45489f8","quantity":53,"sale_ids":["57f987c5-9b28-4f5c-a4dc-b9a017f7f5fe","d4a5ba55-76ac-4143-9b72-13ebf21662d9"],"item_name":"JUSTFIT ECO PACK S3"},{"amount":43250,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":2.5,"sale_ids":["f7b68e7e-884b-4753-bc6b-bb918e962723"],"item_name":"JUSTFIT ECO PACK S2"}]'::jsonb WHERE id = 'e8d34da7-6870-4f3c-b38b-cc5c4a42380f';

-- Revert bba82bd7
UPDATE staff_payments SET items_paid_for = '[{"amount":234600,"item_id":"d4bbe112-1a11-446e-ac58-e59986cd9a26","quantity":3,"sale_ids":["c94fd4a5-c6ea-4ea1-b64b-97a5f9851fdf","46b2eb1d-f662-4694-a5b2-01e10161b93d","e76f0718-0ebc-48b0-b886-b11358283281"],"item_name":"ADULT M/L/XL"},{"amount":19950,"item_id":"bb01e884-743f-47ac-b59a-29fb55328c2f","quantity":0.5,"sale_ids":["50fb42c2-302e-4c3c-9aa8-b28df0d231e9"],"item_name":"BESENSE BLUE MEGA MIX 30 PCS ZIP PAD"},{"amount":135000,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":5,"sale_ids":["efe44cfa-3ff4-4e37-84ca-dbe78c13d526","b90c77fb-6db5-4ea7-bd60-d8575755918e","1c6f3808-be8e-4800-897d-c71e9781ee68","b222d23a-8cf6-4e1c-bf6b-9270fcc86257"],"item_name":"DELE MATERNITY PAD"},{"amount":20250,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":2.5,"sale_ids":["6f8c4851-bcee-41ba-8589-d62e8d53c193","8dfaebc0-f1af-43cd-9df8-497aab82c1d3"],"item_name":"JUSTFIT CARRY PACK S3"}]'::jsonb WHERE id = 'bba82bd7-f8ec-447b-a78f-797375e7b57a';

-- Revert 385a1793
UPDATE staff_payments SET items_paid_for = '[{"amount":8650,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":0.5,"sale_ids":["f7b68e7e-884b-4753-bc6b-bb918e962723"],"item_name":"JUSTFIT ECO PACK S2"},{"amount":24600,"item_id":"1bd30084-f1d1-4309-b682-19e609ab0935","quantity":1,"sale_ids":["5d6c140e-571b-4761-b3ab-975efe93e9c9"],"item_name":"JUSTFIT JUMBO PACK S2"},{"amount":363300,"item_id":"e27c5b62-79b7-4513-b207-77b32dae41c7","quantity":21,"sale_ids":["311e8422-97e3-4f67-80cd-15e19b39806a","24a7b9b7-d079-4538-83d3-0440f30c1481","89eb46d4-70d2-4885-b43d-1e3f113fba3d"],"item_name":"JUSTFIT ECO PACK S4"},{"amount":24300,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":3,"sale_ids":["7ec11912-8ec8-484c-b538-1ab915cd0c5b"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":10300,"item_id":"d5cc0812-1e63-44b0-915e-4823def39257","quantity":1,"sale_ids":["2f98941d-1af2-4405-a187-418c463742a9"],"item_name":"BESENCE CP S2"}]'::jsonb WHERE id = '385a1793-4bd1-4212-b24d-8e993c26b300';

-- Revert 42e11e5a
UPDATE staff_payments SET items_paid_for = '[{"amount":172200,"item_id":"dc19077d-33ae-4cee-b4c0-3d387285a7aa","quantity":7,"sale_ids":["071c4625-9b6c-4175-a043-2f8d827da3ef","b8e9b9ae-1e0a-4453-aaa9-f9dcac58c952"],"item_name":"JUSTFIT JUMBO PACK S3"}]'::jsonb WHERE id = '42e11e5a-d036-4394-8bd0-52167a7c25a9';

-- Revert 64d0c3c8
UPDATE staff_payments SET items_paid_for = '[{"amount":13500,"item_id":"1ebe4ee1-ce16-4047-9166-da281b78d043","quantity":1,"sale_ids":["40cbe6d1-0f79-473e-970d-c6faf4fffd4a"],"item_name":"WIPES BY 50PCS"},{"amount":28500,"item_id":"d0cbce50-194d-4e49-bc03-c0adce262a15","quantity":1,"sale_ids":["9a75f1ea-1cda-476c-a155-dcde4d971ad4"],"item_name":"WIPES BY 120PCS"},{"amount":12150,"item_id":"24f1781a-3755-4aac-bd9d-794c48ae45a3","quantity":1.5,"sale_ids":["8ed6966a-cef0-482e-a834-d0d57c7aaa27"],"item_name":"JUSTFIT CARRY PACK S4"},{"amount":178200,"item_id":"21fcb8b5-5a63-4d62-ae56-cba592c90da9","quantity":22,"sale_ids":["562989fd-f5fa-453f-838b-a729d8bb14ed","81a194b2-947c-46b6-826e-1d374f270311"],"item_name":"JUSTFIT CARRY PACK S3"},{"amount":39900,"item_id":"7e31223b-5bd1-422a-9cb7-d0dad89686cb","quantity":1,"sale_ids":["b85bc7f7-a41e-483c-850b-5bfe47c14cc1"],"item_name":"BESENSE PINK MEGA MIX 30 PC ZIP PAD-HANDLE"}]'::jsonb WHERE id = '64d0c3c8-e7a6-4e06-8c13-23d8cf816c1a';

-- Revert be7f7309
UPDATE staff_payments SET items_paid_for = '[{"amount":86500,"item_id":"803c75d0-efc6-4ff3-bb20-4d906971a069","quantity":5,"sale_ids":["17182dab-0a98-4375-b058-da4a803ee838","8371ae86-c779-4d25-9ffc-7ad31714ca5c"],"item_name":"JUSTFIT ECO PACK S2"}]'::jsonb WHERE id = 'be7f7309-3552-4c7b-8939-ae2544c65984';

-- Revert bd69b5c9
UPDATE staff_payments SET items_paid_for = '[{"amount":251100,"item_id":"120c9c28-f0c7-458f-834e-52c59a61d7e3","quantity":31,"sale_ids":["00002529-2d23-4f0e-8386-dd4485e7d756","26e01e23-5982-439a-bb23-bca365abca64"],"item_name":"JUSTFIT CARRY PACK S2"},{"amount":18800,"item_id":"ab4c49c1-93df-4a09-919f-35cca994f0c0","quantity":2,"sale_ids":["91e6353e-0c46-483e-9fad-0752c25ddd5d"],"item_name":"JUSTFIT N10 (GREEN)"},{"amount":49200,"item_id":"dc19077d-33ae-4cee-b4c0-3d387285a7aa","quantity":2,"sale_ids":["0df770a4-077c-4b06-b38d-7366b6230037"],"item_name":"JUSTFIT JUMBO PACK S3"},{"amount":27000,"item_id":"da335833-6c09-46da-a140-d7a3fee2ee05","quantity":1,"sale_ids":["48f81c12-7fc3-4c67-acc6-79825a060464"],"item_name":"DELE MATERNITY PAD"},{"amount":8700,"item_id":"8a899a2a-ae6f-46f8-b98c-765f15665770","quantity":1,"sale_ids":["96113fa2-1f50-4c44-b90d-2c4e27d90529"],"item_name":"LEB CARRY PACK S3"}]'::jsonb WHERE id = 'bd69b5c9-3609-4291-814c-eb0c1a72d457';

